@import "./variable.scss";

@mixin typography($fontSize: 18px, $fontWeight: 400, $lineHeight: 24px) {
    font-style: normal;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
}

@mixin large-screen {
    @media only screen and (min-width: 1441px) {
        @content;
    }
}

@mixin medium-screen {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin glassmorphism-effect {
    // background: rgba(255, 255, 255, 0.2);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(6px);
    // -webkit-backdrop-filter: blur(6px);
    // border-radius: 10px;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

@mixin transition($time: 200ms) {
    transition: all $time cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin transition-ease($time: 200ms) {
    transition: all $time ease-in-out;
}

@mixin ellipsis($line: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
