@import "../../../style-config/mixin.scss";
@import "../../../style-config/variable.scss";

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: calc(100% / 3);
    border-radius: 16px;
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    .image-section {
        width: 100%;
        height: 300px;
        overflow: hidden;
        @include transition-ease;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    .content-section {
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 25px;
        position: relative;
        flex-grow: 1;
        background-color: $biege;
        .info-bar {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: space-between;
            .user-name,
            .posted-date {
                @include typography(17px, 500, 20px);
                color: $black-light;
            }
        }
        h4 {
            margin-bottom: 10px;
            @include ellipsis;
        }
        p {
            color: $black-light;
            @include typography(17px, 400, 20px);
            @include ellipsis;
            margin-bottom: 30px;
        }
        .readmore-cta {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            margin-bottom: 15px;
            // left: 30px;
            cursor: pointer;
            .text {
                @include typography(16px, 500, 20px);
            }
        }
    }
    &:hover {
        .image-section {
            transform: scale(1.2);
        }
        .content-section {
            background-color: $black-lighter;
            color: $white;
            .user-name,
            .posted-date,
            p {
                color: $white;
            }
            .arrow-icon {
                background-color: $yellow;
                transform: rotate(45deg);
                color: $black;
            }
        }
    }
}
