@import "../../style-config/mixin.scss";
@import "../../style-config/variable.scss";

.footer {
    padding-bottom: 0;
}

.footer-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    // color: $white;
    .footer-logo {
        width: 150px;
        cursor: pointer;
        img {
            display: block;
            width: 100%;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .footer-menu-items {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-top: 30px;
        .footer-menu-item {
            padding: 5px;
            @include typography(18px, 400, 22px);
            color: $white;
            margin: 0 12.5px;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 30px;
    .social-icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 24px;
        margin: 0 12.5px;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
}

.bottom-bar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    .copyright-text {
        color: #777777;
        @include typography(14px, 400, 22px);
    }
}
